/node_modules/
/backend/config/config.env
/.pnp
.pnp.js

/coverage


.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js

/frontend/coverage


/frontend/.DS_Store
/frontend/config.env/
/frontend/.env
/frontend/.env/
/frontend/.env.local/
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local


/socket/node_modules/
/socket/.pnp
/socket/.pnp.js

/socket/coverage



/socket/.DS_Store
/socket/.env.local
/socket/.env.development.local
/socket/.env.test.local
/socket/.env.production.local
